:root {
  --primary: #FE4A49;
  --secondary: #FED766;
  --tertiary: #009FB7;
  --light: #F4F4F8;
  --dark: #25252C;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

body {
  background-color: var(--light);
  color: var(--dark);
}

.content {
  height: 80vh;
  overflow: scroll;
}

.app-body {
  padding: 30px;
}
